
.navbar-container{
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    div{
        display: flex;
        align-items: center;
        gap: 10px;
        p{
            font-size: 1.1rem;
        }
        img{
            transition: 0.1s ease;
        }
        img:hover{
            cursor: pointer;
            scale: 1.05;
        }
    }

    ul{
        display: flex;
        gap: 20px;
        align-items: center;
    }

    ul li{
        list-style-type: none;
        font-size: 1.1rem;
    }
}
